.git
.github
.cursor
.vscode
.routify
node_modules
public/build
data.db
*.db
server
*.test
*.out
*.exe
.DS_Store
README.md
LICENSE
Makefile
babel.config.js
jest.config.js
jest.setup.js
tsconfig.jest.json
tsconfig.generate.json
frontend/__tests__
backend/**/*_test.go
