{
    "plugins": ["prettier-plugin-svelte"],
    "trailingComma": "es5",
    "tabWidth": 4,
    "printWidth": 100,
    "semi": true,
    "singleQuote": false,
    "svelteSortOrder": "options-scripts-markup-styles"
}
